table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  text-align: center;
}

tr {
  padding: 20%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

input {
  margin: 2% 2% 2% 0;
  padding: 0.3%;
}

.search_button {
  padding: 0.8%;
  border-radius: 10%;
  border: none;
  margin: 0 0.2%;
}

.search_button:hover {
  background-color: #4caf50;
  color: white;
}

select {
  margin: 2% 2% 2% 2%;
  padding: 0.3%;
}
